<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Smalltalk for the Java Virtual Machine">
    <meta name="author" content="{{ page.author }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="home" href="http://redline.st/" title="Home" />
    <link rel="shortcut icon" href="/image/favicon.ico" />
    <link rel="apple-touch-icon" href="/image/icon.png" />
    <link rel="stylesheet" href="/stylesheet/base.css" />
    <link rel="stylesheet" href="/stylesheet/syntax.css" />

    <script src="/javascript/libs/modernizr-2.0.6.min.js"></script>
  </head>
  <body>
    <div id="container">
      <header role="banner">
      </header>
      <nav id="sitenav" role="navigation">
        <ul>
          <li><a href="mailto:object@redline.st" title="Email"><button>Email</button></a></li>
          <li><a href="http://twitter.com/redline_st" title="Follow redline_st on Twitter"><button>Twitter</button></a></li>
          <li><a href="/blog/" title="News" id="news" class=""><button>News</button></a></li>
          <li><a href="/thanks.html" title="Thanks"><button>Thanks</button></a></li>
        </ul>
      </nav>
      <div id="main" role="main">
        {{ content }}
      </div>
      <footer>
        Copyright &copy; 2010-{{ 'now' | date: "%Y" }} James Ladd.
      </footer>
    </div> <!--! end of #container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via ant build script-->
    <script src="/javascript/plugins.js"></script>
    <script src="/javascript/script.js"></script>
    <!-- end scripts-->


    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

    <a href="https://github.com/redline-smalltalk/redline-smalltalk"><img id="github-ribbon" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>    
  </body>
</html>
